body
{
    margin: 0;
    font-size: 15px;
    line-height: 1.5;
    font-family: 'Merriweather', serif;
    padding: 0;
}
*
{
    box-sizing: border-box;
 
}
.container
{
    display: flex;
}
.right-side
{
    display: flex;
    width: 50%;
}
header
{ 
    padding: 23px;
    border-top: 4px solid rgb(8, 2, 2);
    border-bottom: 4px solid rgb(9, 4, 4); 
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}
h1,h2{
    font-size: 2em;
}

#header-tag
{
  filter: drop-shadow(0 0 10px rgb(7, 6, 6));
  animation: glow 1s alternate infinite;
}

@keyframes glow{
    8%
    {
        filter: drop-shadow(0 0 10px rgb(181, 47, 47));

    }
    100%
    {
        filter: drop-shadow(0 0 30px rgb(154, 19, 19));
    }
}

section
{
    padding: 20px;
    width: 50%;
}
p{
    
    letter-spacing: 1px;
    word-spacing: 2px;
    text-indent: 20px;

}
a,  a:focus {
    outline: none;
    text-decoration: none;
    color: brown;
  }
  a:visited {
    color: rgb(33, 26, 237);
  }
  a:hover
  {
    text-decoration: underline;
    color: #06a700;
  }
 
aside,nav
{
    padding: 20px;
    float: right;
   

}
aside
{   float: right;
    width: 80%;
}
nav
{
    width: 80%;
}
footer {
    border-top: 4px solid rgb(10, 6, 6);
    border-bottom: 4px solid rgb(10, 7, 7); 
    padding: 20px;
    text-align: center;
    transition: opacity 0.3s ease-in-out;
}

footer:hover {
    opacity: 0.8; /* Adjust the opacity value as needed */
}
.anchor {
    padding: 10px;
    text-decoration: none;
    outline: none;
    text-align: center;
    line-height: 4;
    color: rgb(190, 11, 11);
    
}

.anchor:link,
.anchor:visited,
.anchor:focus {
    background: transparent;
   
 
}

.anchor:hover {
  
    text-decoration: none;
    color: #e9e1e6;
}

.ext-link{
    width: 10px;
    height: 10px;
}
.list-check
{
    text-align: center;
    border: 1px solid rgb(21, 13, 13);
    
}
.list-check:hover
{
    background: beige;
    background-color: #000000;
    
}
.list-check:active {
    background: rgb(123, 93, 139);
    color: white;
}
 

@media screen and (max-width: 600px)
{
    section
    {
        width: 100%;
    }
    .container
    {
        flex-direction: column;
    }
    .right-side
    {
        flex-direction: column;
    }
aside {

    width: 100%;
}
nav {

    width: 100%;
}
ul li:first-child a {
    color: #ff0090; 
}

}